@font-face {
    font-family: saygon;
    src: url(./Fonts/CASaygonText-Medium.ttf);
  }
html,body{
    font-family: saygon;
  }
::-moz-selection { /* Code for Firefox */
    color: rgb(255, 255, 255);
    background: #004aab
  }
  
::selection {
    color: rgb(255, 255, 255);
    background: #004aab
  }